/* Importing google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Helvetica';
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 15px;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: #ffd700;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #fff;
}